[Unit]
Description=python music bot
Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=infinity
StartLimitBurst=20

[Service]
Restart=always
RestartSec=20s
MemoryMax=400M
MemoryHigh=380M

[Container]
ContainerName=pmusic
Image=ghcr.io/bepvte/python-musicbot:dev
NoNewPrivileges=true
DropCapability=all
Network=host
Timezone=local
Volume=/opt/pmusic/data:/data:noexec
Volume=/opt/pmusic/audio_cache:/musicbot/audio_cache:noexec
Volume=/opt/pmusic/config:/musicbot/config:noexec
Volume=/opt/pmusic/logs:/musicbot/logs:noexec
StopTimeout=5

RunInit=true

[Install]
WantedBy=multi-user.target
